body {
    background-color: #222;
    color: #eee;

    width: 16rem;
    height: 16rem;
}

.special-text {
    color: red;
}

h3 {
    text-align: center;
}

#download {
    text-align: center;
    display: flex;
    justify-content: center;
}
