body {
    background-color: #2E2E2E;
    color: #eee;

    width: 16rem;
    height: 10rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    gap: 10px; /* Space between elements */
}

h3 {
    text-align: center;
}

#progress-bar {
    display: none;
}
